.content-container {
  width: 800px;
  height: 600px;
  border: 0px solid #ccc;
  padding: 1rem;
  display: flex; 
  flex-direction: column; 
  justify-content: start;
  margin-bottom: 20px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

