#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-container {
  width: 800px;
  height: 600px;
  border: 2px solid #ccc;
  padding: 1rem;
  display: flex; 
  flex-direction: column; 
  justify-content: start;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.scrollable-table {
  flex-grow: 1;
  min-height: 0; 
  overflow-y: auto;
}

.scrollable-table table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

.scrollable-table th, .scrollable-table td {
  border: 1px solid #000000;
  padding: 8px;
}

.scrollable-table th {
  background-color: #a5a5a5;
}



.tabs {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
}

.tab-button {
  border: 2px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  outline: none;
}

.tab-button.active {
  border-bottom: none;
  background-color: #afafaf;
}

.content-container {
  border: 2px solid #ccc;
  padding: 1rem;
}

.logo {
  height: 15em;
  padding: 2.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.spin-clockwise {
    animation: spin-clockwise 5s linear infinite;
  }
  
  .logo.spin-counterclockwise {
    animation: spin-counterclockwise 5s linear infinite;
  }
}

.card {
  padding: 1em;
}
