.parametersForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-left: 5px;
  background-color: transparent;
  color: #ffffff;
  box-sizing: border-box; 
}

.parametersControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px; 
}

.formControl {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 9ch; 
  margin-right: 10px;
  box-sizing: border-box;
}

.parameterCard {
  width: 100%;
  background-color: #252d4e;
  padding: 1em;
  border-radius: 12px;
}

.parameterLabel {
  margin-right: 10px;
}

.labelSpacing {
  margin-right: 12px;  
}

.btnPrimary {
  border-radius: 8px;
  padding: 0.8em 0.6em;
  font-size: 1em;
  font-weight: 500;
  background-color: #6a82fb;
  background-image: linear-gradient(to right, #6a82fb, #fc5c7d);
  color: white;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  border: 1px solid transparent;
  margin-right: 10px
}

.btnPrimary:hover {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  border-color: #fff;
}

.btnPrimary:active {
  background-color: #535bf2;
  transform: scale(0.98);
}