/* props.css */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.checkbox-label {
    margin-bottom: 10px;
    padding-left: 20px;
    display: inline-block;
}

.outermost-div {
    margin-left: 10px;
  }
  